.container {
    margin-bottom: 100px;
}

.title {
    text-align: center;
    font-family: Austin;
    font-weight: 700;
    font-size: 64px;
    color: #B28353;
    margin-bottom: 64px;
}

.mockContainer {
    display: flex;
    justify-content: space-evenly;

}

.mock {
    width: 40%;
    height: 600px;
    background: rgba(255, 255, 255, 0.3);
}

@media (max-width: 650px) {
    .title {
        margin-bottom: 12px;
        font-size: 24px;
    }

    .container {
        margin-bottom: 32px;
    }

    .mock {
        height: 250px;
    }

}