.container {
    padding-top: 5rem;
    position: relative;
}

.title {
    font-family: Austin;
    text-align: center;
    color: #B28353;
    margin-bottom: 2rem;
}

.text {
    font-family: Kazimir;
    font-weight: 300;
    text-align: center;
    color: #B28353;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 120px;
}

.select {
    font-size: 1.5rem;
    font-family: Austin;
}

.flatSizeContainer {
    display: flex;
    align-items: center;
}

.flatSize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Kazimir;
    font-weight: 300;
    margin-right: 2rem;
    color: #000000;
    cursor: pointer;
}

.flatSizeNumber {
    font-family: Kazimir;
    font-size: 1.75rem;
    margin-bottom: 12px;
    font-weight: normal;
}

.selected {
    color: #B28353;
}

@media (max-width: 650px) {
    .container {
        padding: 2rem 0;
    }

    .row {
        padding: 0 2rem;
        flex-direction: column;
    }

    .flatSizeNumber {
        font-size: 1rem;
    }

    .select {
        margin-bottom: 2rem;
    }
}