html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@font-face {
  font-family: 'Austin';
  src: url("../fonts/austin.ttf");
}

@font-face {
  font-family: 'Kazimir';
  src: url("../fonts/kazimir.ttf");
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.swiper-button-next {
  background-image: url("../arrowRight.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  position: relative;
}

.swiper-button-next::after {
  display: none;
}


.swiper-button-prev {
  background-image: url("../arrowLeft.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev::after {
  display: none;
}